= render 'elements/header'
%h1 Edit Status Kepegawaian

= render 'form'

.row.align-items-center.justify-content-center
  .row
    = link_to '<button class="btn btn-primary btn-circle btn-lg"><i class="fa fa-lg fa-close" title="Batal edit status kepegawaian"></i></button>'.html_safe, status_kepegawaian_index_path, class: 'center-block'
    = link_to '<button class="btn btn-primary btn-circle btn-lg"><i class="fa fa-lg fa-expand" title="Tampilkan status kepegawaian"></i></button>'.html_safe, @status_kepegawaian, class: 'center-block add-left-margin'