= render 'elements/header'
.container
%h1.add-left-margin Membuat Status Kepegawaian

= render 'form'

%br
.row.align-items-center.justify-content-center
  .row
    = link_to '<button class="btn btn-primary btn-circle btn-xl"><i class="fa fa-lg fa-arrow-left" title="Batal membuat status kepegawaian"></i></button>'.html_safe, status_kepegawaian_index_path, class: 'center-block'