.py-5.bg-dark.text-white
  .container
    .row
      .col-md-6.text-center.align-self-center
        %p.mb-5
          %strong Catat
          %br
          %br
          dibuat oleh:
          %br
          Yosef Benny Widyokarsono, S.Kom
          %br
          %br
          untuk:
          %br
          Kantor Kementerian Agama Kabupaten Sumba Tengah
        .my-3.row
          .col-4
            %a{:href => "https://www.facebook.com/fransiskusyosef", :target => "_blank"}
              %i.fa.fa-3x.fa-facebook
          .col-4
            %a{:href => "https://twitter.com/fybwid", :target => "_blank"}
              %i.fa.fa-3x.fa-twitter
          .col-4
            %a{:href => "https://www.github.com/fybwid", :target => "_blank"}
              %i.fa.fa-3x.fa-github
      .col-md-6.p-0
        %img.img-fluid{:src => "https://maps.googleapis.com/maps/api/staticmap?center=kantor+kementerian+agama+kabupaten+sumba+tengah,+nusa+tenggara+timur,+indonesia&zoom=16&scale=2&size=600x300&maptype=satellite&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xffff00%7Clabel:%7Ckantor+kementerian+agama+kabupaten+sumba+tengah,+nusa+tenggara+timur,+indonesia&key=AIzaSyBNNOLKZ3TWZh31eyy-UJtF4GRl3qRZRO0"}/
