%nav.navbar.navbar-expand-md.bg-primary.navbar-dark
  .container
    %a.navbar-brand{:href => "/"} Catat
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbar2SupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbar2SupportedContent", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbar2SupportedContent.collapse.navbar-collapse.text-center.justify-content-end
      %a.btn.navbar-btn.btn-primary.ml-2.text-white{:href => "/"}
        %i.fa.d-inline.fa-lg.fa-user-circle-o
        Masuk