%nav.navbar.navbar-expand-md.bg-primary.navbar-dark
  .container
    %a.navbar-brand{:href => "/"} Catat
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbar2SupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbar2SupportedContent", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbar2SupportedContent.collapse.navbar-collapse.text-center.justify-content-end
      - if current_user
        Anda masuk sebagai #{current_user.nama}.
        = render 'notifications/pemberitahuan_surat_keluar'
        %a.btn.navbar-btn.btn-primary.ml-2.text-white{:href => logout_path}
          %i.fa.d-inline.fa-lg.fa-sign-out
          Keluar
      - else
        %a.btn.navbar-btn.btn-primary.ml-2.text-white{:href => signup_path}
          %i.fa.d-inline.fa-lg.fa-user-plus
          Daftar
        %a.btn.navbar-btn.btn-primary.ml-2.text-white{:href => login_path}
          %i.fa.d-inline.fa-lg.fa-sign-in
          Masuk
        
        
