.py-5.text-center.opaque-overlay{:style => "background-image: url(\"https://pingendo.github.io/templates/sections/assets/cover_event.jpg\");"}
  .container.py-5
    .row
      .col-md-12.text-white
        %h1.display-3.mb-4 Salam
        %p.lead.mb-5 Catat merupakan aplikasi yang berfungsi untuk mencatat surat masuk dan surat keluar, serta konsep surat.
        %a.btn.btn-lg.mx-1.btn-secondary{:href => "#"} Masuk
        %a.btn.btn-lg.btn-primary.mx-1{:href => "#"} Daftar
