.py-5.text-center.opaque-overlay{:style => "background-image: url(\"https://pingendo.github.io/templates/sections/assets/cover_event.jpg\");"}
  .container.py-5
    .row
      .col-md-12.text-white
        %h1.display-3.mb-4 Salam
        %p.lead.mb-5 Catat merupakan aplikasi yang berfungsi untuk mencatat surat masuk dan surat keluar, serta konsep surat.
        - if current_user
          Hai #{current_user.nama}, Anda dapat memulai menggunakan Catel dengan menekan tombol dibawah ini.
          %a.btn.navbar-btn.btn-primary.ml-2.text-white{:href => dasbor_index_path}
            %i.fa.d-inline.fa-lg.fa-user-circle-o
            Dasbor
        - else
          %a.btn.navbar-btn.btn-primary.ml-2.text-white{:href => signup_path}
            %i.fa.d-inline.fa-lg.fa-user-plus
            Daftar
          %a.btn.navbar-btn.btn-primary.ml-2.text-white{:href => login_path}
            %i.fa.d-inline.fa-lg.fa-sign-in
            Masuk
