= render 'elements/header'
%h1 Edit Seksi

= render 'form'

.row.align-items-center.justify-content-center
  .row
    = link_to '<button class="btn btn-primary btn-circle btn-xl"><i class="fa fa-lg fa-close" title="Batal edit seksi"></i></button>'.html_safe, seksi_index_path, class: 'center-block'
    = link_to '<button class="btn btn-primary btn-circle btn-xl"><i class="fa fa-lg fa-expand" title="Tampilkan seksi"></i></button>'.html_safe, @seksi, class: 'center-block add-left-margin'