= render 'elements/header'
.p-5.text-center.bg-secondary.gradient-overlay
  .card-deck
    .col-md-6
      .card.p-5.m-1
        .card-block
          %h2
            %b Surat Masuk
          %p Anda dapat menemukan detil surat masuk disini
          %p Jumlah Surat Masuk: xxx
        .card-block
          %a.btn.btn-secondary{:href => "#"} Membuat Surat Masuk
    .col-md-6
      .card.p-5.m-1
        .card-block
          %h2
            %b Surat Keluar
          %p Anda dapat menemukan detil surat keluar disini
          %p Jumlah Surat Keluar: xxx
        .card-block
          %a.btn.btn-secondary{:href => "#"} Membuat Surat Keluar
    .col-md-6
      .card.p-5.m-1
        .card-block
          %h2
            %b Konsep Surat
          %p Anda dapat menemukan detil konsep surat disini
          %p Jumlah Konsep Surat: xxx
        .card-block
          %a.btn.btn-secondary{:href => "#"} Membuat Konsep Surat