= render 'elements/header'
.p-5.text-center.bg-secondary.gradient-overlay
  .card-deck
    .col-md-6
      .card.p-5.m-1
        .card-block
          %h2
            %b Surat Masuk
          %p Anda dapat menemukan detil surat masuk disini
          %p
          Jumlah Surat Masuk:
          = @jumlah_surat_masuk
          %p
        .card-block
          %a.btn.btn-secondary{:href => surat_masuk_index_path} Detil Surat Masuk
    .col-md-6
      .card.p-5.m-1
        .card-block
          %h2
            %b Surat Keluar
          %p Anda dapat menemukan detil surat keluar disini
          %p
          Jumlah Surat Keluar:
          = @jumlah_surat_keluar
          %p
        .card-block
          %a.btn.btn-secondary{:href => surat_keluar_index_path} Detil Surat Keluar
    .col-md-6
      .card.p-5.m-1
        .card-block
          %h2
            %b Pustaka
          %p Anda dapat menemukan detil rujukan pembuatan surat disini
          %p
          Jumlah Pustaka: 
          = @jumlah_pustaka
          %p
        .card-block
          %a.btn.btn-secondary{:href => daftar_pustaka_index_path} Detil Pustaka