= render 'elements/header'
%h1 Edit Surat Masuk

= render 'form'

.row.align-items-center.justify-content-center
  .row
    = link_to '<button class="btn btn-primary btn-circle btn-xl"><i class="fa fa-lg fa-close" title="Batal edit surat keluar"></i></button>'.html_safe, surat_keluar_index_path, class: 'center-block'
    = link_to '<button class="btn btn-primary btn-circle btn-xl"><i class="fa fa-lg fa-expand" title="Tampilkan surat keluar"></i></button>'.html_safe, @surat_keluar, class: 'center-block add-left-margin'