= render 'elements/header'
%h1 Edit Surat Masuk

= render 'form'

.row.align-items-center.justify-content-center
  .row
    = link_to '<button class="btn btn-primary btn-circle btn-lg"><i class="fa fa-lg fa-close" title="Batal edit surat masuk"></i></button>'.html_safe, surat_masuk_index_path, class: 'center-block'
    = link_to '<button class="btn btn-primary btn-circle btn-lg"><i class="fa fa-lg fa-expand" title="Tampilkan surat masuk"></i></button>'.html_safe, @surat_masuk, class: 'center-block add-left-margin'