= render 'elements/header'
.container
%h1.add-left-margin Membuat Surat Masuk

= render 'form'

%br
.row.align-items-center.justify-content-center
  .row
    = link_to '<button class="btn btn-primary btn-circle btn-lg"><i class="fa fa-lg fa-arrow-left" title="Batal membuat surat masuk"></i></button>'.html_safe, surat_masuk_index_path, class: 'center-block'