= render 'elements/header'
%h1 Edit Status Akun

= render 'form'

.row.align-items-center.justify-content-center
  .row
    = link_to '<button class="btn btn-primary btn-circle btn-xl"><i class="fa fa-lg fa-close" title="Batal edit status akun"></i></button>'.html_safe, status_akun_index_path, class: 'center-block'
    = link_to '<button class="btn btn-primary btn-circle btn-xl"><i class="fa fa-lg fa-expand" title="Tampilkan status akun"></i></button>'.html_safe, @status_akun, class: 'center-block add-left-margin'